body{
  margin:0;  
}
*{
    margin: 0;
    padding: 0;
}
.welcome{
    display: flex;
    justify-content: center;
    padding-top: 80px;
    font-size: 50px;
    color: #04aa78;
    background-color: transparent;


}

.learn{
    display: flex;
    justify-content: center;
    padding: 20px;
    padding-top: 250px;
}
.practice{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 20px;
}
.button1{

background-color: #04AA6D;
color: white;
border: none;
font-size: 24px;
border-radius: 4px;
padding: 7px 19px;

}
.button2{
    
background-color: #04AA6D;
color: white;
border: none;
font-size: 24px;
padding: 7px 9px;
border-radius: 4px;
}
.button1:hover{

    background-color: #038555;
}
.button2:hover{

    background-color: #038555;
   
}

.background-img{
    background-image: url(../photos/background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: center;
    height: 100vh;

}

@media screen and (max-width: 500px){
  .header{
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 50px;
    
  }
  .background-img{
    background-image: url(../photos/background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: center;
    height: 100vh;
    
   
  }
  .learn{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 20px;
    padding-top: 250px;
  }

  .practice{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 20px;
  }
}
