.header{
    background-color: transparent;
    height: 90px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    font-family: sans-serif;
    font-size: 50px;
    display: flex;
    justify-content: center;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background: url(../photos/back.png);
    
    -webkit-background-clip: text;
    background-position:- 0 0;
    
    animation: back 20s linear infinite;
}

   @keyframes back{ 
    100%{ background-position: 2000px 0;
        }
   }
